page-register {
  .form-layout {
      .scroll-content {

        .auth-content {
          width: 90%;

          .logo {
            width: 90%;
            height: 160px;
            margin: 10% auto 0 !important;
          }
        }
      }
    }
}
