<!-- -->
<ion-content padding class="bg-byguh form-layout">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/logotipo.png">
			</div>
		</div>

			<div id="registerForm">
		    <form class="list-form">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          Nome
		        </ion-label>
		        <ion-input type="text"></ion-input>
		      </ion-item>
		      <!-- <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">Campo obrigatório.</p> -->

					<ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          CPF
		        </ion-label>
		        <ion-input type="text"></ion-input>
		      </ion-item>
		      <!-- <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">Campo obrigatório.</p> -->
          <hr>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="calendar" item-start class="text-white"></ion-icon>
              Date de Nascimento
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="1930-01-01" max="2002-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
          </ion-item>
		    </form>

		    <div margin-top>
		      <button ion-button block color="secondary" (click)="gotoHome()">
		        Enviar
		      </button>
		    </div>
		  </div>



	</div>
</ion-content>
