<!-- -->
<ion-content padding class="form-layout bg-byguh">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/logotipo.png">
			</div>
		</div>
    <p class="text-gray">Foi enviado um SMS em seu celular com o código de validação.</p>
			<div id="loginForm">
				<form class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Digite o código SMS recebido.
						</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
          <div margin-top>
            <button ion-button block color="secondary" (click)="validateSMS()">
              Validar
            </button>
          </div>
				</form>
			</div>

	</div>
</ion-content>
