<!-- -->
<ion-content padding class="bg-byguh form-layout">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/logotipo.png">
			</div>
		</div>

			<div class="btn-entrar" *ngIf="!fieldPhone">
				<button ion-button icon-start block color="secondary" type="button" (click)="login()">
					Entrar
				</button>
			</div>

			<div id="loginForm" *ngIf="fieldPhone">
				<form class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="call" item-start class="text-white"></ion-icon>
							Digite seu telefone com DDD.
						</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<div margin-top>
						<button ion-button block color="secondary" (click)="loginFinal()">
							Enviar
						</button>
					</div>
				</form>
			</div>

	</div>
</ion-content>
