page-auth,
.auth {
  .grid {
    padding: 0;
    .col {
      padding: 0;
    }
  }


}

@media (min-width: 768px) {

	page-auth,
	.auth {
	  .scroll-content {
	    .auth-content {
	      width: 40%;
	    }
	  }
	}

}
