<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Carrinho</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card *ngIf="!orders.length" class="yellow-bg" margin-top>
					<ion-card-content>
						<p text-center>Você ainda não adicionou nenhum item.</p>
					</ion-card-content>
				</ion-card>


          <ion-grid class="box-branco" no-margin *ngIf="orders.length">
            <ion-row no-padding>
              <ion-col style="width: 75%; flex-basis: initial;">
                <p ion-text class="p-no-margin">Endereço de Entrega:</p>
                <p ion-text class="fw700 text-light p-no-margin">Rubens Roberto Ciolfi, 100</p>
              </ion-col>
              <ion-col style="width: 25%; flex-basis: initial; text-align: right;">
                <button class="text-12x yellow-bg" ion-button >
                  Mudar
                </button>
              </ion-col>
            </ion-row>


          </ion-grid>

				<ion-list no-margin>
					<ion-item-sliding class="item-cart" *ngFor="let order of orders">
							<div ion-item>
								<!-- (click)="itemTapped(favorite)" -->
									<ion-thumbnail item-left>
											<img src="{{order.order.photoUrl}}"/>
									</ion-thumbnail>
										<h2 ion-text color="white" class="fw700 title-item-cart">{{order.order.title}}</h2>
										<ion-grid class="filters" no-padding>
											<ion-row>
												<ion-col text-center col-2>
													<ion-icon name="remove-circle" class="text-22x" tappable (click)="minusQtd(order)" [hidden]="order.qtd < 2"
																		color="secondary"></ion-icon>
												</ion-col>
												<ion-col text-center col-3>
													<h2 ion-text color="white" class="text-18x">
														<span>{{ order.qtd }}</span>
													</h2>
												</ion-col>
												<ion-col text-center col-2>
													<ion-icon name="add-circle" class="text-22x" tappable (click)="plusQtd(order)" color="secondary"></ion-icon>
												</ion-col>
											</ion-row>
										</ion-grid>
									<div item-right>
										<ion-badge class="price-item-cart">{{ order.order.price * order.qtd | currency:"R$" }}</ion-badge>
									</div>
							</div>
							<ion-item-options>
									<button ion-button color="danger" (click)="removeOrder(order)">Remover</button>
							</ion-item-options>
					</ion-item-sliding>
				</ion-list>

        <ion-card class="button-add-more-items" *ngIf="orders.length">
          <button class="text-12x yellow-bg" ion-button (click)="goToCardapio()">
            Adicionar mais itens
          </button>
        </ion-card>

        <ion-list class="box-branco" no-margin *ngIf="orders.length">
          <p ion-text>Previsão de Entrega: <span class="fw700">(30 - 60min)</span></p>
          <hr>
          <p ion-text>Sub Total: <span class="fw700">{{ totalVal | currency:"R$ " }}</span></p>
          <p ion-text>Taxa de Entrega: <span class="fw700">R$ 4,00</span></p>
          <p ion-text>Valor total: <span class="fw700">{{ totalVal + 4 | currency:"R$ " }}</span></p>
        </ion-list>

				<!-- <ion-card class="valor-total-carrinho" >
					<ion-card-content>
						<p ion-text>Previsão de Entrega: <span class="fw700">(30 - 60min)</span></p>
            <hr>
						<p ion-text>Sub Total: <span class="fw700">{{ totalVal | currency:"R$ " }}</span></p>
						<p ion-text>Taxa de Entrega: <span class="fw700">R$ 4,00</span></p>
						<p ion-text>Valor total: <span class="fw700">{{ totalVal + 4 | currency:"R$ " }}</span></p>
					</ion-card-content>
				</ion-card> -->

        <ion-card *ngIf="orders.length" class="card-fazer-pedido">
            <button  class="finalizar-pedido primary-bg" ion-button no-margin icon-right (click)="openCheckout()">
              Fazer pedido
              <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-card>

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer *ngIf="orders.length" class="no-padding">
	<!-- <button class="finalizar-pedido green-bg" ion-button full large no-margin icon-right (click)="openCheckout()">
		Fazer pedido
		<ion-icon name="card"></ion-icon>
	</button> -->
</ion-footer>
