page-cart {
    .label {
      text-align: right;
      font-size: 20px;
    }
    .hr-style {
      width: 100%;
      height: 1px;
      display: inline-block;
    }
    .valor {
      text-align: right;
      font-size: 22px;
    }
    p {
      text-align: left;
      font-size: 14px;
      color: color($colors, gray);
      margin-bottom: 7px;
      span {
        float: right;
      }
    }
    .item-cart {
      background: color($colors, dark);
      border-bottom: 1px solid #666;
      .item {
        background: none !important;
      }
    }
    p.p-no-margin {
      margin-top: 0;
      margin-bottom: 0;
    }
    h2 {
      font-size: 22px;
      color: #FFF;
    }
    .title-item-cart {
      text-align: left;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 20px;
    }
    .price-item-cart {
      background: none;
    }

  .button-add-more-items {
    background: none;
    text-align: center;
    box-shadow: none !important;
  }
  .card-fazer-pedido {
    background: none;
    text-align: center;
    box-shadow: none !important;
    .finalizar-pedido {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .box-branco {
    background: color($colors, dark);
    padding: 10px;
    border: 1px solid #444;
  }
}
