<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <span ion-text>{{produto.title}}</span>
				</ion-title>
		</ion-navbar>

		<!-- <ion-fab middle right>
			<button ion-fab mini class="btn-add-favorito" (click)="favorite(dish)">
				<ion-icon name="heart" class="text-dark"></ion-icon>
			</button>
		</ion-fab> -->
</ion-header>

<ion-content class="dish dark-bg">

  <ion-card class="dish-card">

    <ion-card-content class="dark-bg">
			<img src="{{ produto.photoUrl }}">
			<div padding>
	      <ion-grid class="filters" no-padding fixed>
	        <ion-row margin-bottom>
	          <ion-col text-center>
	          	<h4 ion-text>Preço: <span class="text-white fw700">{{ produto.price | currency }}</span></h4>
	            <h1 ion-text class="text-white fw700"></h1>
	            <!-- <hr margin-vertical> -->
	          </ion-col>
	        </ion-row>
	        <ion-row margin-bottom>
	          <ion-col text-center>
	            <ion-icon name="remove-circle" class="text-4x" tappable (click)="minusQtd()" [hidden]="qtd < 2"
	                      color="secondary"></ion-icon>
	          </ion-col>
	          <ion-col width-10 text-center>
	          	<h4 ion-text color="white">Quantidade:</h4>
	          	<h2 ion-text>{{ qtd }}</h2>
	          </ion-col>
	          <ion-col width-10 text-center>
	            <ion-icon name="add-circle" class="text-4x" tappable (click)="plusQtd()" color="secondary"></ion-icon>
	          </ion-col>
	        </ion-row>
	        <ion-row>
				<ion-col text-center>
		      <button ion-button color="yellow" class="btn-add" icon-left tappable (click)="addcart(produto, qtd)">
		      	<ion-icon name="cart"></ion-icon>
		      	Adicionar ({{ produto.price * qtd | currency }})
		      </button>
				</ion-col>
	        </ion-row>
	      </ion-grid>
			</div>
    </ion-card-content>

  </ion-card>

  <ion-card class="dark-bg">
    <ion-card-content>
      <!-- <h2 ion-text color="primary" class="fw500">Ingredients</h2>
      <p ion-text>{{dish.ingredients}}</p>
			<hr> -->
      <h2 ion-text color="yellow" class="fw500">Detalhes:</h2>
      <p ion-text class="text-gray">{{produto.description}}</p>
    </ion-card-content>
  </ion-card>

  <br><br><br><br><br>

  <ion-fab bottom right>
    <button ion-fab round icon-only color="yellow" (click)="openCart()">
      <ion-icon name="cart" class="text-dark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
