.btn-add-favorito {
  background: none !important;
}

.dish {

  .card {
    width: auto;
    border-radius: 0;
    margin: 0;
    box-shadow: none !important;
  }

  .dish-card {

    ion-card-content {
      padding: 0 0 16px;
      background-color: map-get($colors, primary);
      color: #fff;
      text-align: center;
      box-shadow: inset 0 0 8rem rgba(0, 0, 0, .4);
      // padding-bottom: 28px;

      img {
				// margin-top: -100px;
				max-height: 250px;
        border-bottom: solid 4px color($colors, yellow);
        display: inline;
      }

      h2 {
        font-size: 2.45rem;
        margin-top: .5rem;
        color: #fff;
      }

      h3 {
        font-size: 1.5rem;
        color: #fff;
      }

      .btn-add {
        color: color($colors, dark);
      }

    }

  }

}
