page-home {
	.list-ios > .item-block:first-child {
	    border-top: 0;
	}
	.title-item-menu {
		// color: #FFF !important;
	}
	.menu-type {
		margin-top: 0;
		padding-right: 0 !important;
		padding-left: 0 !important;
		border-top: 1px solid color($colors, yellow) !important;
	}
	.bar-button {
		margin: 0 5px;
	}
	.img-item-list {
		min-width: 110px;
		min-height: 110px;
		margin-right: 5px;
		margin-top: 0 !important;
		img {
			width: 110px;
			height: 110px;
		}
	}
	.item {
		background: color($colors, dark) !important;
	}
	.list-large-img {
		.item-inner {
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding: 0 !important;
			margin-bottom: 10px;
			.btn-price-item {
				margin: 0 !important;
				border: 1px solid #FFF;
				background: color($colors, yellow);
				span {
					color: color($colors, dark);
					font-weight: bold;
					font-size: 1.4rem;
				}
			}
			.label {
				margin: 0 0 10px 0 !important;
				padding: 0 !important;
				.item-descricao {
					line-height: 19px;
				}
			}
		}
		.img-item-list-large {
			min-width: 130px;
			min-height: 130px;
			margin-right: 0;
			margin-top: 0 !important;
			margin-bottom: 10px;
			img {
				width: 100%;
				height: 230px;
			}
		}
	}

	.item-descricao {
		white-space: normal;
		color: #bab9b7 !important;
		font-size: 1.3rem !important;
	}

	.item-ios[detail-push] .item-inner,
	button.item-ios:not([detail-none]) .item-inner,
	a.item-ios:not([detail-none]) .item-inner {
		background-image: none;
		padding-right: 8px;
		border-bottom-style: dashed;
	}

	button.item-md:not([detail-none]) .item-inner {
		border-bottom-style: dashed;
	}

	.button-large-md,
	.button-large-ios {
		box-shadow: none;
		height: 12rem;
	}

	.btn-price-item {
		margin: 0 !important;
		background: color($colors, yellow) !important;
		border: 0 !important;
		span {
			color: color($colors, dark);
			font-weight: bold;
		}
	}

	// Special custom
	.card-ios,
	.card-md {
		width: 100%;
		border-radius: 0;
		box-shadow: 0 0 1px rgba(color($colors, primary), .4);
	}

	.toolbar-ios-primary {
		.searchbar-ios {
			.searchbar-input {
			    color: #fff;
			    background: rgba(255, 255, 255, .2);
			}
		}
	}

	.footer {
		&.footer-ios {
			box-shadow: 0;
			// padding-right: 8px !important;
			// padding-left: 8px !important;
		}

	  .btn-group {
	    .button-ios,
	    .button-md {
	      border-radius: 0;
	      border-right: 1px solid rgba(color($colors, dark), .4);
	      &:last-of-type {
	        border-right: 0;
	      }
	    }
	  }
	}

	.segment-button {
	  display: flex;
	  align-items: center;
	  justify-content: center;
		border-color: color($colors, yellow) !important;
		border-radius: 0 !important;
		border-right: 1px solid #666 !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
		span {
			color: #bab9b7;
			letter-spacing: -0.3px;
			text-transform: capitalize;
		}
		.icon {
			color: #FFF;
		}
		flex-basis: initial !important;
	}
	.segment-button.segment-activated {
		background: color($colors, yellow) !important;
		border-color: color($colors, yellow) !important;
		color: color($colors, yellow) !important;
		span {
			color: color($colors, dark);
			font-weight: 700;
		}
	}
	.segment-button.menu-tab-1 {
		width: 3%;
	}
	.segment-button.menu-tab-2 {
		width: 3%;
	}
	.segment-button.menu-tab-3 {
		width: 11%;
	}
	.segment-button.menu-tab-4 {
		width: 3%;
	}
	.segment-button.menu-tab-5 {
		width: 4%;
	}

	.segment-ios {
		.segment-button {
			font-size: 1.2rem !important;
			height: 4.0rem;
		}
	}

	.segment-ios-light {
		.segment-button {
			&.segment-activated {
				background: color($colors, yellow);
			}
		}
	}

}

@media (max-width: 320px) {
	page-home {
		.segment-button {
			span {
				color: #FFF;
				font-size: 1.0rem !important;
			}
		}
	}
}
