<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cardápio
    </ion-title>
    <ion-buttons end>
      <!-- <button ion-button (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button> -->
      <button ion-button (click)="openCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="openRestaurantFilterPage()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content>

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>

				<!-- <ion-card no-margin margin-bottom>
			    <ion-item class="lightest-bg">
			      <h3 ion-text no-margin color="dark" class="fw500 no-margin">Restaurants near you:</h3>
			      <span ion-text class="text-11x no-margin" color="primary">{{yourLocation}}</span>
			      <button ion-button outline round item-end icon-right color="primary" (click)="alertLocation()">
			      	Change Location
			      	<ion-icon name="locate"></ion-icon>
			      </button>
			    </ion-item>
				</ion-card> -->

			</ion-col>
		</ion-row>

    <ion-grid no-padding fixed>
  		<ion-row no-padding>
  			<ion-col>


  				<div [ngSwitch]="restaurantopts" padding>
  					<div *ngSwitchCase="'entrada'">

  						<ion-list class="list-large-img">
  						  <ion-item no-padding *ngFor="let dish of bebidas" tapplable (click)="openDishDetail(dish)">
  						    <ion-thumbnail class="img-item-list-large">
  						      <img src="{{dish.photoUrl}}">
  						    </ion-thumbnail>
  			          <h2 ion-text class="fw500 text-yellow title-item-menu">{{dish.title}}</h2>
  			          <p ion-text color="primary" class="text-11x item-descricao">{{ dish.description }}</p>
  						    <button ion-button clear class="btn-price-item text-dark">{{ dish.price | currency:"R$ " }}</button>
  						  </ion-item>
  						</ion-list>

  					</div>
  					<div *ngSwitchCase="'principal'">

              <ion-list class="list-large-img">
  						  <ion-item no-padding *ngFor="let dish of bebidas" tapplable (click)="openDishDetail(dish)">
  						    <ion-thumbnail class="img-item-list-large">
  						      <img src="{{dish.photoUrl}}">
  						    </ion-thumbnail>
  			          <h2 ion-text class="fw500 text-yellow title-item-menu">{{dish.title}}</h2>
  			          <p ion-text color="primary" class="text-11x item-descricao">{{ dish.description }}</p>
  						    <button ion-button clear class="btn-price-item text-dark">{{ dish.price | currency:"R$ " }}</button>
  						  </ion-item>
  						</ion-list>

  					</div>
  					<div *ngSwitchCase="'complementos'" class="tab-reviews">

              <ion-list class="list-large-img">
  						  <ion-item no-padding *ngFor="let dish of bebidas" tapplable (click)="openDishDetail(dish)">
  						    <ion-thumbnail class="img-item-list-large">
  						      <img src="{{dish.photoUrl}}">
  						    </ion-thumbnail>
  			          <h2 ion-text class="fw500 text-yellow title-item-menu">{{dish.title}}</h2>
  			          <p ion-text color="primary" class="text-11x item-descricao">{{ dish.description }}</p>
  						    <button ion-button clear class="btn-price-item text-dark">{{ dish.price | currency:"R$ " }}</button>
  						  </ion-item>
  						</ion-list>

  					</div>
  					<div *ngSwitchCase="'bebidas'">
              <ion-list>
                <ion-item no-padding *ngFor="let bebida of bebidas" tapplable (click)="openDishDetail(dish)">
                  <ion-thumbnail item-start class="img-item-list">
                    <img src="{{bebida.photoUrl}}">
                  </ion-thumbnail>
                  <h2 ion-text class="fw500 text-yellow title-item-menu">{{bebida.title}}</h2>
                  <p ion-text color="primary" class="text-11x item-descricao">{{ bebida.description }}</p>
                  <button ion-button clear class="btn-price-item green-bg text-white">{{ bebida.price | currency:"R$ " }}</button>
                </ion-item>
              </ion-list>
  					</div>
  					<div *ngSwitchCase="'sobremesa'">
              <ion-list class="list-large-img">
  						  <ion-item no-padding *ngFor="let dish of bebidas" tapplable (click)="openDishDetail(dish)">
  						    <ion-thumbnail class="img-item-list-large">
  						      <img src="{{dish.photoUrl}}">
  						    </ion-thumbnail>
  			          <h2 ion-text class="fw500 text-yellow title-item-menu">{{dish.title}}</h2>
  			          <p ion-text color="primary" class="text-11x item-descricao">{{ dish.description }}</p>
  						    <button ion-button clear class="btn-price-item text-dark">{{ dish.price | currency:"R$ " }}</button>
  						  </ion-item>
  						</ion-list>
  					</div>
  				</div>
  			</ion-col>
  		</ion-row>
  	</ion-grid>

	</ion-grid>

</ion-content>

<ion-footer class="no-padding dark-bg">
	<ion-grid no-padding fixed>
		<ion-row no-padding>
      <ion-segment class="menu-type" [(ngModel)]="restaurantopts" padding-horizontal>

    			<ion-segment-button icon-left block color="dark" value="entrada" class="col menu-tab-1 col-4">
            	<!-- <ion-icon name="compass" class="text-18x"></ion-icon> -->
            	<span ion-text class="text-12x">Entrada</span>
    			</ion-segment-button>
    			<ion-segment-button icon-left block color="dark" value="principal" class="col menu-tab-2 col-4">
              <!-- <ion-icon name="albums" class="text-18x"></ion-icon> -->
              <span ion-text class="text-12x">Principal</span>
    			</ion-segment-button>
    			<ion-segment-button icon-left block color="dark" value="complementos" class="col menu-tab-3 col-4">
            	<!-- <ion-icon name="list-box" class="text-18x"></ion-icon> -->
            	<span ion-text class="text-12x">Complementos</span>
    			</ion-segment-button>
    			<ion-segment-button icon-left block color="dark" value="bebidas" class="col menu-tab-4 col-4">
            	<!-- <ion-icon name="list-box" class="text-18x"></ion-icon> -->
            	<span ion-text class="text-12x">Bebidas</span>
    			</ion-segment-button>
    			<ion-segment-button icon-left block color="dark" value="sobremesa" class="col menu-tab-5 col-4">
            	<!-- <ion-icon name="list-box" class="text-18x"></ion-icon> -->
            	<span ion-text class="text-12x">Sobremesa</span>
    			</ion-segment-button>
      </ion-segment>
		</ion-row>
	</ion-grid>

</ion-footer>
