<ion-split-pane when="lg">

	<ion-menu side="left" id="authenticated" [content]="content">

	  <ion-header>
	    <ion-toolbar class="user-profile">

	      <div class="user-profile">
	        <ion-list no-margin>
	          <ion-item>

	            <ion-avatar item-left>
	              <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/19030638_1547645265268565_6940101501237285722_n.jpg?_nc_cat=101&_nc_ht=scontent-gru2-1.xx&oh=c1f383f36340457be2f2287769153ce0&oe=5C9DEE26">
	            </ion-avatar>

	            <h2 ion-text class="text-white fw700 text-15x">
	              Daniel Concon
	            </h2>
	            <p ion-text color="light">Campinas, Brazil</p>

					    <button ion-button icon-left round color="yellow" menuClose (click)="openPage(accountMenuItems[1])">
					      <ion-icon [name]="accountMenuItems[1].icon"></ion-icon>
					      {{accountMenuItems[1].title}}
					    </button>

	          </ion-item>
	        </ion-list>
	      </div>

	    </ion-toolbar>
	  </ion-header>

	  <ion-content color="dark" class="dark-bg">



	    <ion-list class="user-list">
	      <ion-list-header class="yellow-bg" no-margin>
	        <span ion-text color="dark" class="fw600">Menu</span>
	      </ion-list-header>
	      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
	        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
	        {{menuItem.title}}
	      </button>
	    </ion-list>

	    <ion-list class="user-list">
	      <button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)">
	        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
	        {{menuItem.title}}
	      </button>
	    </ion-list>

			<button ion-button icon-left full color="secondary" no-margin menuClose (click)="openPage(accountMenuItems[2])">
				<ion-icon [name]="accountMenuItems[2].icon"></ion-icon>
				{{accountMenuItems[2].title}}
			</button>
	  </ion-content>

	</ion-menu>

	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>
