// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/400/opensans-regular-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/opensans/600/opensans-semibold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/opensans/700/opensans-bold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/opensans/900/opensans-extrabold-webfont.ttf');
}

*:not(.icon) {
  font-family: "Open Sans" !important;
  // font-weight: 600;
}

// Grid Fixed
// ---------------------------------------------------
ion-header .toolbar {
 margin: auto;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
 ion-header .toolbar[fixed],
 ion-footer .toolbar[fixed],
 ion-tabs .tabbar {
   margin: 0;
   padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
   padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
 }
}

.split-pane-visible > ion-menu {
  max-width: 100% !important;
  // max-width: 304px !important;
}

.split-pane-visible > .split-pane-side {
	border-right: none !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25) !important;
}
// ----------------------------------------------------


ion-app.ios [padding] {
    padding: 10px;
}

.menu-logo {
  height: 80px;
  margin: 12px 0 0 90px;
}

// Headers
.header-md {
	box-shadow: 0 1px 8px rgba(color($colors, primary), .2);
	&::after {
		background: none;
	}
}

.back-button {
	color: color($colors, dark);
}
.toolbar {
  .button-inner {
    color: #2c2c2c !important;
  }

  .toolbar-background {
    background: color($colors, yellow) !important;
  }
  .toolbar-title {
    color: color($colors, dark) !important;
  }
}

a[disabled], button[disabled], [ion-button][disabled] {
  opacity: 0.8 ;
}

// Tooltip Pages
.mytoast {
  .toast-wrapper {
    background-color: #cd1e37;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    bottom: -10px !important;
    .toast-message {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    // background-color: rgba(199, 25, 37, 1);
  }
}

// **** Helpers **** //

// Fonts
.fw300 {
	font-weight: 300 !important;
}

.fw500 {
	font-weight: 500 !important;
}

.fw700 {
	font-weight: 700 !important;
}

// Colors
.text-black {
	color: #000;
}

.text-white {
	color: #fff !important;
}

.text-primary {
	color: color($colors, primary) !important;
}

.text-secondary {
	color: color($colors, secondary) !important;
}

.text-yellow {
	color: color($colors, yellow) !important;
}

.text-dark {
	color: color($colors, dark) !important;
}

.text-light {
	color: color($colors, light) !important;
}

.text-green {
	color: #68C91F !important;
}

.text-gray {
	color: color($colors, gray) !important;
}

// Text sizes
.text-sm {
	font-size: .85rem !important;
}

.text-1x {
	font-size: 1rem !important;
}

.text-11x {
	font-size: 1.1rem !important;
}

.text-12x {
	font-size: 1.2rem !important;
}

.text-14x {
	font-size: 1.4rem !important;
}

.text-18x {
	font-size: 1.8rem !important;
}

.text-2x {
	font-size: 2rem !important;
}

.text-22x {
	font-size: 2.2rem !important;
}

.text-25x {
	font-size: 2.5rem !important;
}

.text-4x {
	font-size: 4rem !important;
}

.ofhidden {
	overflow: hidden;
}

.clear {
  clear: both;
}

// Backgrounds
.menu-bg {
	.content {
    background-image: linear-gradient(90deg, #fff 60%, lighten(color($colors, primary), 57%));
	}
	.item {
		background-color: transparent;
	}
}

.bg-byguh {
  background: url('../assets/img/bg.jpg') center center no-repeat;
  background-size: 900px;
}

.profiles-bg {
	background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary)) !important;
}

.white-bg {
	background-color: #fff !important;
}

.lightest-bg {
	background-color: #f8f4f1 !important;
}

.light-bg {
	background-color: color($colors, light) !important;
}

.primary-bg {
	background-color: color($colors, primary) !important;
}

.yellow-bg {
	background-color: color($colors, yellow) !important;
  p {
    color: color($colors, dark);
    font-weight: 600;
  }
  .button-inner {
    color: color($colors, dark) !important;
    font-weight: 600;
  }
}

.secondary-bg {
	background-color: color($colors, secondary) !important;
}

.dark-bg {
	background-color: color($colors, dark) !important;
}

.gray-bg {
	background-color: #999 !important;
}

.green-bg {
  background-color: #68C91F;
}

.profile-bg {
  background: color($colors, primary);
  .scroll-content {
  	background: color($colors, primary);
  }
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

// Measure
.full-width {
	width: 100% !important;
}

.max-width {
	max-width: 100% !important;
}

// margins & paddings force
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

// Forms
.has-error {
    margin: 0;
    padding: .75rem;
    // background-color: color($colors, light);
    border-radius: 0 0 4px 4px;
    border: 0 !important;
    background: none !important;
    box-shadow: 0 !important;
}
.input-cover {
  border: 0 !important;
  background: none !important;
  box-shadow: 0 !important;
}

// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

// Menu user profile
.user-profile {
  padding: 0 !important;

  // margin: -16px -16px 0;
  // background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, secondary));
  background-color: color($colors, dark);
  .item {
    border: 0 !important;
    background-color: transparent;
    ion-avatar {
      margin: 24px 16px 24px 0;
      border: 2px solid #FFF;
      border-radius: 50%;
      img {
        width: 62px;
        height: 62px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10rem inset, rgba(255, 255, 255, .45) 0px 0px 4rem;
      }
    }
  }
  .card {
    border-radius: 0;
    background-color: transparent;
  }
  .other-data {
    border-top: 1px solid rgba(color($colors, primary), .25);
    .column {
      background-color: rgba(color($colors, primary), .25);
      &:first-child {
        border-right: 1px solid rgba(color($colors, primary), .25);
      }
    }
  }
}
.form-layout {
  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;
      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }
      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .scroll-content {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .auth-content {
      width: 85%;

      hr {
        background: none !important;
      }
      .logo {
        width: 100%;
        height: 200px;
        margin: 40% auto 0;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        .datetime {
          // margin-top: 40px;
          font-size: 14px;
          padding-top: 3px;
          .datetime-text {
            color: #FFF;
          }
        }


        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          &.item-md,
          .item-ios {
            &.item-block {
              .item-inner {
                border-bottom-color: rgba(color($colors, light), .5) !important;
              }
            }
          }

          ion-label {
            font-size: 14px;
            color: color($colors, light);
            &.label-ios,
            &.label-md {
              margin-top: 0;
            }
          }

          input {
            color: color($colors, light);
            border-bottom: 1px solid #FFF;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

.user-list {
	margin-bottom: 1.5rem;
  .item {
  	color: color($colors, gray);
    background-color: color($colors, dark);
    &:last-child {
      border-bottom: 0;
    }
    .item-inner {
      border-color: rgba(color($colors, primary), .15) !important;
      background: none !important;
      content: "\f3d1";
     }
    .item-inner::after {
      content: "\f3d1";
      color: green;
      font-family: "Ionicons";
      margin-right: -18px;
      color: color($colors, gray);
    }
    &.list-header {
    	// background-color: color($colors, dark) !important;
    	.label {
			font-weight: 700;
    	}
    }
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid rgba(color($colors, dark), .2);
    .item-inner {
      border: none;
    }
  }
}

// Borders
.light-mb {
	border-bottom: 1px solid rgba(color($colors, primary), .25);
}

// Margin & Padding
.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-border {
	border: 0 !important;
}

// Card
ion-card {
	img {
		max-height: 240px;
	}
}

.card {
	border-radius: 4px;
}

.card-img-wrap {
	position: relative;
	.card-img-price {
		color: #fff;
		font-size: 1.65rem;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(color($colors, secondary), .8);
	    padding: 1rem;
	    border-radius: 0 4px 0 0;
	}
	.card-img-status {
		width: 100px;
		font-size: 1.65rem;
	    position: absolute;
		transform: rotate(45deg);
	    padding-top: .5rem;
	    padding-bottom: .5rem;
	    top: 10px;
	    right: -25px;
	    z-index: 99;
	    text-align: center;
	    &.closed {
	    	background-color: rgba(color($colors, primary), .8);
	    }
	    &.open {
	    	background-color: rgba(#34A694, .8);
	    }
	}
}

// Horizontal Rule
.content {
  background-color: color($colors, dark);
	hr {
		background-color: rgba(color($colors, primary), .4);
		&.light {
			background-color: rgba(color($colors, primary), .15);
		}
	}
}

// Swiper
.swiper-pagination-bullet-active {
    background: color($colors, dark);
}

// Footer
.footer {
	background-color: #fff;
}

// Styles borders
.main-styled-border {
	padding-bottom: 1.6rem;
	border-bottom: 1px solid rgba(color($colors, primary), .4);
	&::after {
    content: '';
    width: 50px;
    height: 5px;
		background-color: color($colors, dark);
    position: relative;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
    display: block;
	}
}
