<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Pedido efetuado</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="checkout lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card>
					<ion-card-content class="checkout-info" no-padding>

						<ion-list no-margin>
							<div ion-item *ngFor="let order of checkoutData">
								<!-- (click)="itemTapped(favorite)" -->
									<ion-thumbnail item-left>
											<img src="{{order.order.picture}}"/>
									</ion-thumbnail>
										<h2 ion-text color="dark" class="fw700">{{order.order.name}}</h2>
										<p ion-text color="primary">{{order.order.ingredients}}</p>
									<div item-right>
										<ion-badge>{{ order.order.price * order.qtd | currency }}</ion-badge>
									</div>
							</div>
						</ion-list>

            <ion-row padding>
              <p>Seu pedido sera entregue a você em breve, realize o pagamento com o entregador.</p>
            </ion-row>

					<ion-grid padding>
						<ion-row>
							<ion-col col-8>

								<ion-card class="green-bg" no-margin text-center>
									<ion-card-content>
										<span ion-text class="text-white">Total</span>
										<h2 ion-text no-margin class="fw700 text-white">{{ totalVal | currency:"R$" }}</h2>
									</ion-card-content>
								</ion-card>
							</ion-col>
							<ion-col col-4 no-padding>
								<span ion-text color="primary" class="text-11x">Número do pedido</span>
								<br/>
								<ion-badge color="light" class="text-primary">003454890</ion-badge>
								<div>
									<span ion-text color="primary" class="text-11x">Tempo de entrega:</span>
									<br/>
									<ion-badge color="light" class="text-primary">30 - 60min</ion-badge>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
					</ion-card-content>
				</ion-card>

        <!--submit button-->
        <button ion-button color="secondary" margin-top icon-right full tappable (click)="send()">
          Confirm
          <ion-icon name="cash"></ion-icon>
        </button>

			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
