<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Favoritos</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>

				<ion-card *ngIf="!favorites.length" class="primary-bg" margin-top>
					<ion-card-content>
						<p text-center class="text-white">Você ainda não adicionou nenhum item aos favoritos.</p>
					</ion-card-content>
				</ion-card>

				<ion-list>
						<ion-item-sliding *ngFor="let favorite of favorites">
								<button ion-item (click)="itemTapped(favorite)">
										<ion-thumbnail item-left>
												<img src="{{favorite.dish.picture}}"/>
										</ion-thumbnail>
										<h2>{{favorite.dish.name}}</h2>
										<p>{{favorite.dish.ingredients}}</p>
								</button>
								<ion-item-options>
										<button ion-button color="danger" (click)="deleteItem(favorite)">Deletar</button>
								</ion-item-options>
						</ion-item-sliding>
				</ion-list>

			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
