<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Pedidos</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="dark-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>

				<ion-card *ngIf="!lastOrders.length" class="yellow-bg" margin-top>
					<ion-card-content>
						<p text-center>Você ainda não fez nenhum pedido.</p>
					</ion-card-content>
				</ion-card>

				<ion-card class="pedidos-list yellow-bg" *ngFor="let order of lastOrders">
					<ion-card-header text-center class="yellow-bg">
						<p ion-text class="text-12x title-pedido">Data: <span ion-text class="fw600 text-dark">02/01/2019</span></p>
						<p ion-text class="text-12x title-pedido">Número do pedido: <span ion-text class="fw600 text-dark">{{ order.onumber }}</span></p>
					</ion-card-header>
					<ion-card-content no-padding>

						<ion-list class="dark-bg" *ngFor="let item of order.order" no-margin>
							<div class="dark-bg item-pedido" ion-item>
								<ion-thumbnail item-left>
										<img src="{{item.order.picture}}"/>
								</ion-thumbnail>
									<h2 ion-text class="text-white name-item" class="fw600">{{item.order.name}}</h2>
									<p ion-text class="text-white">Quantidade: <span class="fw600">{{item.qtd}}</span></p>
									<ion-badge class="yellow-bg text-dark">{{ item.order.price * item.qtd | currency }}</ion-badge>
							</div>
              <ion-badge item-right class="yellow-bg badge-total text-dark">Total: {{ order.total | currency }}</ion-badge>
						</ion-list>

						<!-- <ion-grid no-padding>
							<ion-row>
								<ion-col>
									<ion-card class="total-box full-width" no-margin text-center>
										<ion-card-content>
                      <p ion-text class="text-14x total-label text-dark fw300">Total: <span ion-text class="fw700 text-dark">{{ order.total | currency }}</span></p>
										</ion-card-content>
									</ion-card>
								</ion-col>
							</ion-row>
						</ion-grid> -->
					</ion-card-content>
				</ion-card>

			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
