page-orders {
  .pedidos-list {
    box-shadow: none !important;
    border: 1px solid #444;
    text-align: right;
    .card-header {
      padding: 5px;
    }
    .title-pedido {
      width: 48%;
      padding-left: 2%;
      margin: 0;
      display: inline-block;
      text-align: left;
    }
    .badge-total {
      margin: 10px;
    }
    .item-pedido {
      border-bottom: 1px solid #444;
    }
    .name-item {
      color: color($colors, yellow);
    }
    h2 {
      color: color($colors, yellow);
    }
    .total-box {
      background: none;
      box-shadow: none !important;
      padding: 3px;
      .card-content {
        padding: 3px;
        .total-label {
          text-align: right;
          // color: #cd1e37 !important;
          span {
            // color: #cd1e37 !important;
          }
        }
      }
    }
  }
}
