<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Promoções</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="dark-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-list>
					<ion-item class="dark-bg" *ngFor="let dish of dishes" tapplable (click)="openDishDetail(dish)">
					<ion-thumbnail item-start>
						<img src="{{dish.picture}}">
					</ion-thumbnail>
					<h2 ion-text color="yellow" class="fw500">{{dish.name}}</h2>
					<p ion-text color="gray" class="text-11x">{{ dish.ingredients }}</p>
					<button ion-button clear class="yellow-bg text-dark" item-end>{{ dish.price | currency }}</button>
					</ion-item>

				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
